/* GENERELT */
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    padding: 60px 40px;
}

/* FONTE
Generel css styling for alle overskrifter og underoverskrifter */
h1 {
    margin: 0;
    color: white;
    font-size: 70px;
    font-family: helvetica;
    text-transform: uppercase;
}

h2 {
    font-family: helvetica;
    text-transform: uppercase;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: helvetica;
    text-transform: uppercase;
}

h4 {
    color: white;
    margin: 0;
    padding-bottom: 10px;
    font-family: helvetica;
    font-size: 40px;
    text-transform: uppercase;
}

p {
    margin: 0;
    font-family: helvetica;
}









/* BURGERMENU
I html gav vi burgermenuen et id, så vi her i css kunne style den.*/
#burgermenu {
    position: fixed;
    right: 14px;
    top: 14px;
}

#burgermenu img {
    width: 40px;
}


/* HEADER
Generel styling af header.
- Med en position fixed og en gennemsigtig baggrund, har vi fået den sticky menu vi godt kunne tænke os.
Med flexbox har vi fået menuen til at blive indefor de 1200px;*/
#header {
    padding: 12px 14px;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: center;
}

/*ekstra div lavet for at ligge en max-width på indholdet, men stadig kunne have en baggrundsfarve med 100vw;*/
.header {
    max-width: 1200px;
    flex-grow: 1;
}

header a {
    text-decoration: none;
    color: #552800;
    text-transform: uppercase;
    padding: 0px 12px;
}

header a:first-child {
    padding: 0;
}

header a:hover {
    color: rgb(245, 219, 196);
}


header img {
    width: 200px;
}

header li {
    list-style-type: none;

}

#menu {
    font-family: helvetica;
    padding-top: 5px;
}

nav {
    opacity: 90%;
}

.hidden {
    display: none;
    transform: translateX(-100%);
}










/* SPLASH
- stylet således at indholdet og billedet er centreret helt fra web til mobil version*/
#splash {
    display: flex;
    flex-wrap: wrap;

    background-image: url("images_coffee/splash_sort_50.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash h1 {
    margin-top: 200px;
}

#splash p {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#splash button {
    margin-bottom: 10px;
}

#splash img {
    margin-bottom: 250px;
    width: 60px;
}







/* PRODUKTER
- Grid'et er lavet i mediaquery 750px (længere nede i css), da vi har tænkt mobile first og griddet kun skal fungere i web verison.'*/
#produkter {
    background-color: #f5ebe1;
}

.produkter {
    display: flex;
    justify-content: center;
}

.filter_knapper {
    display: flex;
    justify-content: center;
}

#list p {
    margin-bottom: 60px;
}

#produkter h2 {
    margin-bottom: 10px;
}

#produkter h3 {
    margin-bottom: 40px;
}

/* PRODUKT KNAPPER
- indsat som anker href, for bedre css styling*/
#produkter a {
    padding: 10px;
    background-color: #46241A;
    margin: 4px;
    color: white;
    font-family: helvetica;
}






/* OM OS
-Denne sektion er stylet med flexbox, for hurtigt og nemt at få et responsivt design, med fokus på mobil-first. (Web i media query)*/
#land {
    background-color: #EBD9C3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#om_os {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.tekst,
.billede {
    flex-basis: 800px;
    flex-grow: 1;
    max-width: 580px;
}




/* FOOTER
- display: flex; brugt for at få designet til at se godt ud på en stor skærm (max width 1200px;)*/
#footer {
    background-color: rgba(28, 11, 8, 0.94);
    padding: 60px 40px 50px;
    display: flex;
    justify-content: center;
}

#footer p {
    color: white;
    padding-bottom: 10px;
}

.footer {
    max-width: 1200px;
    /*for at vise der kun er én box indenfor de 1200px: flex-grow*/
    flex-grow: 1;
}







/* PILE
- Pilene er indsat i deres egen sektion, og er enkelt placeret midt på skærmen for at guide læserens opmærksomhed nedad siden.
*/
#pil_splash_produkter {
    background-color: #f5ebe1;
}

#pil_om_os_land {
    background-color: #EBD9C3;
}

.pil {
    display: flex;
    justify-content: center;
}

.pil img {
    width: 120px;
    display: flex;
    justify-content: center;
}




/* For et responsivt design har vi startet med mobil versionen er hjemmesiden (alt overstående css styling) og hernæst css'et en min-width media query, for at style web versionen lidt anderledes. Siden ændre sig fra mobil view til ipad/web version ved 740px. */
@media (min-width:740px) {

    /* BURGERMENU */
    #burgermenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    /* HEADER */
    header img {
        width: 250px;
    }

    .header {
        display: flex;
    }


    /* SPLASH */
    h1 {
        font-size: 100px;
    }


    /* PRODUKTER */
    #list {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 1200px;
    }

    #list p {
        margin-bottom: 30px;
    }


    /* OM OS */
    .tekst {
        flex-basis: 100px;
        flex-grow: 1;
    }

    .billede {
        flex-basis: 100px;
        flex-grow: 1;
    }

    #land .tekst {
        padding-left: 20px;
    }

    #land .billede {
        padding-right: 20px;
    }

    #om_os .tekst {
        padding-right: 20px;
    }

    #om_os .billede {
        padding-left: 20px;
    }
}







/* SINGLE VIEW SIDEN */
#detaljer_body {
    margin: 0;
    background-color: #f5ebe1;
    display: flex;
    justify-content: center;
}

#detaljer_body a {
    padding: 8px 12px;
    background-color: #46241A;
    color: white;
    font-family: helvetica;
}

#detaljer_body #header {
    margin-left: 20px;
}

#detaljer_body section {
    padding: 0;
}

#detaljer_indhold {
    max-width: 1200px;
}

#detaljer_body #knap {
    padding: 100px 0 50px 30px;
}

#detaljer_body #header img {
    max-width: 250px;
}

#detaljer_body #detaljer img {
    max-width: 100%;
}

#detaljer_body #detaljer {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
}

#detaljer_body .tekst {
    flex-basis: 800px;
}

#detaljer_body .billede {
    flex-basis: 800px;
    flex-grow: 1;
}

#detaljer_body p {
    font-family: helvetica;
}

#detaljer_body h2 {
    font-family: helvetica;
}

#detaljer_body button {}

@media (min-width:750px) {

    #detaljer_body {
        display: flex;
        justify-content: center;
    }

    #detaljer_indhold {
        justify-content: flex-start;
    }

    #detaljer_body .tekst {
        flex-basis: 100px;
        flex-grow: 1;

    }

    #detaljer_body .billede {
        flex-basis: 100px;
        flex-grow: 1;
    }
}

#detaljer_body article {
    padding: 0 30px;

}
