html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;

}


img {
    width: 100%;

}

img {
    width: 100%;
    width: 50%
}


.forsidebillede {
    width: 500px;
}

.logobillede {
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 20px;

}

section {}

/*** sectioner ***/
#smag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sundhed {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#muligheder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tekst,
.billede {
    flex-basis: 800px;
    flex-grow: 1;
    max-width: 580px;
}


#trainMotion img {
    transform: translate(0%, 0%);
    transition: all 2s ease-out;
    padding: 50px 50px 100px 50px;
}

#trainMotion_contrainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#trainMotion.choochoo img {
    transform: translate(170%, 0%);

}

tekstforside {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 0px;

}


/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: #093A82;
    transition: background-color 1s ease;
    margin: 0;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    font-family: sans-serif;
    padding: 50px 50px 50px 50px;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}

.space {
    padding: 150px 50px 0px 50px;
}

/* colours */
.color-violet {
    background-color: #FAC177;
}

.color-indigo {
    background-color: #BEE0D9;
}

.color-blue {
    background-color: #2F8FED;
}

.color-green {
    background-color: #4DCF42;
}

.color-yellow {
    background-color: #FAEB33;
}

.color-orange {
    background-color: #F19031;
}

.color-red {
    background-color: #F2293A;
}

/* styling for demo, can ignore */
body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
}

h1,
h2 {
    font-size: 3em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'cheltenham_condensedbold';
}

p {
    max-width: 30em;
    margin-bottom: 1.618em;
}

a {
    color: #4332CF;
}

.billede {
    width: 50%;

}

.billede_2 .billede {}


#logo {

    text-align: left;
    padding: 20px;
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;

}

nav {
    padding: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'cheltenham_condensedbold';
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'cheltenham_condensedbold';
    padding: 20px;

}


nav a:hover {
    color: #FAC177;

}


@font-face {
    font-family: 'cheltenham_condensedbold';
    src: url('fontsquirrel/cheltenham_condensed_bold-webfont.woff2') format('woff2'),
        url('fontsquirrel/cheltenham_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/****** pil ned *****/

#pil_container {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pil_sprite {
    background-image: url(svg/pil_ned.svg);
    background-size: cover;
    height: 1vw;
    width: 1.8vw;
    cursor: pointer;
}



#pil_container:hover {
    transform: scale(1.2);


}


.pil_position {
    top: 90vh;
    left: 49.3vw;
}
